@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

/* font-family: 'Fraunces', serif; */
/* font-family: 'Barlow', sans-serif; */
 :root {
    --color1: hsl(212, 27%, 19%); /* Very dark desaturated blue */
    --color2: hsl(213, 9%, 39%); /* Very dark grayish blue */
    --color3: hsl(232, 10%, 55%); /* Dark grayish blue */
    --color4: hsl(210, 4%, 67%); /* Grayish blue */
    --color5: hsl(0, 0%, 100%); /* White */
 }