@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

/* font-family: 'Fraunces', serif; */
/* font-family: 'Barlow', sans-serif; */
 :root {
    --color1: hsl(212, 27%, 19%); /* Very dark desaturated blue */
    --color2: hsl(213, 9%, 39%); /* Very dark grayish blue */
    --color3: hsl(232, 10%, 55%); /* Dark grayish blue */
    --color4: hsl(210, 4%, 67%); /* Grayish blue */
    --color5: hsl(0, 0%, 100%); /* White */
}
body {
    font-size: 112.5%;
    font-family: Barlow, sans-serif;
    margin: 0 auto;
    width: 23.44rem;
    background: hsl(0, 0%, 90%);
}
h2 {
   font-family: 'Fraunces', serif;
   font-size: 2rem;
   font-weight: 900;
   color: var(--color1);

}
header {
    background: url(./images/mobile/image-header.jpg) bottom center / contain no-repeat;
    height: 33.5rem; /*Nearly full height of bg image*/
   }
nav {
   position: relative;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 2rem 1.39rem;
}
.hamburger {
   height: 1.13rem;
   width: 1.56rem;
   object-fit: fill;
}
.menu-flyout {
   position: absolute;
   background: var(--color5);
   width: 20.31rem;
   height: 18.75rem; /*change*/
   left: 1.56rem;
   top: 6.25rem;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
}
.hidden {
   display: none; /*enable with JS on mobile*/
}
.leader {
   position: absolute;
   background: var(--color5);
   height: 3.13rem;
   width: 3.13rem;
   top: -1.56rem;
   right: 0;
   clip-path: polygon(100% 0%,0% 100%,100% 100%);
}
.menu-link {
   text-decoration-line: none;
   color: var(--color3);
   font-size: 1.25rem;
}
.menu-button {
   text-decoration-line: none;
   font-family: Fraunces, serif;
   font-size: 1rem;
   color: black;
   text-transform: uppercase;
   background: rgb(251, 214, 1);
   padding: 1rem 2rem;
   border-radius: 100px;
}
.hero {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 3rem
}
.hero > h1 {
   font-family: 'Fraunces', serif;
   text-transform: uppercase;
   color: var(--color5);
   font-weight: 900;
   font-size: 2.38rem;
   text-align: center;
   letter-spacing: 0.38rem;
   margin: 3rem 0 0 0;
}
.hero > img {
	height: 7.13rem;
}
.services {
   display: grid;
   grid-template-columns: auto;

}
.benefit {
   display: flex;
   flex-direction: column;
}
.benefit:nth-child(1) {
   background: var(--color5) url(./images/mobile/image-transform.jpg) top center/contain no-repeat;
}
.benefit:nth-child(1) a {
	background: linear-gradient(to bottom, #FFFF 0%, #FFFF 60%,#ffd60255 60%, #ffd60255 100%);
}
.benefit:nth-child(1) a:hover {
	background: linear-gradient(to bottom, #FFFF 0%, #FFFF 60%,#ffd602FF 60%, #ffd602FF 100%);
}
.benefit:nth-child(2) {
   background: var(--color5) url(./images/mobile/image-stand-out.jpg) top center/contain no-repeat;
}
.benefit:nth-child(2) a {
	background: linear-gradient(to bottom, #FFFF 0%, #FFFF 60%,#ff716355 60%, #ff716355 100%);
}
.benefit:nth-child(2) a:hover {
	background: linear-gradient(to bottom, #FFFF 0%, #FFFF 60%,#ff7163FF 60%, #ff7163FF 100%);
}
.benefit-text {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   padding: 22rem 1.70rem 4rem;
}
.benefit-text > p {
   opacity: 50%;
   line-height: 1.6rem;
   margin-top: 0;
   padding-bottom: 1rem;
}
.benefit-text > a {
   font-family: 'Fraunces', serif;
   font-size: 0.94rem;
   font-weight: 900;
   text-transform: uppercase;
   text-decoration-line: none;
   letter-spacing: 0.06rem;
   color: var(--color1);
	
	width: max-content;
	padding: 0.3rem 0.5rem;
   /*decorate with linear gradient*/
}

.service {
   text-align: center;
   padding: 23rem 1.70rem 3rem;

}
.service:nth-child(3) {
   background: url(./images/mobile/image-graphic-design.jpg) top center/cover no-repeat;
}
.service:nth-child(4) {
   background: url(./images/mobile/image-photography.jpg) top center/cover no-repeat;
}
.service > h2 {
   font-size: 1.75rem;
   opacity: 80%;
   text-transform: capitalize;
   margin-bottom: 1rem;
}
.service > p {
   font-size: 1rem;
   opacity: 50%;
   line-height: 1.6em;
   margin-top: 0;
}
.testimonial-block {
   text-align: center;
   background: var(--color5);
   margin: 0;
   padding: 4rem 1.70rem 4rem;
   color: var(--color1)
}
.testimonial-block > h2 {
   font-size: 1rem;
   letter-spacing: 0.25rem;
   text-transform: uppercase;
   margin: 0;
   opacity: 40%;
   padding-bottom: 4rem;
}
.client-avatar {
   height: 4.38rem;
   border-radius: 50px;
   margin-bottom: 0.5rem;
}
.testimonial {
   line-height: 2rem;
}
.comment {
   opacity: 80%;
   margin-bottom: 2rem;
}
.client-name {
   font-family: 'Fraunces', serif;
   font-weight: 900;
   margin-bottom: 0;
}
.client-title {
   margin-top: 0;
   font-size: 0.94rem;
   opacity: 50%;
   margin-bottom: 4rem;
}

.image-gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.image-gallery > img {
	width: 50%;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: rgb(144, 212, 197);
	gap: 2rem;
	padding: 4rem 2rem 5rem;
}
.footer-logo {
	height: 1.78rem;
	filter: brightness(0) saturate(100%) invert(35%) sepia(54%) saturate(453%) hue-rotate(116deg) brightness(96%) contrast(89%);
	padding-bottom: 1rem;
}
.footer-links {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}
.footer-links > a {
	text-decoration-line: none;
	color: hsl(166, 46%, 31%);
	opacity: 70%;
	margin-bottom: 3rem;
}
.footer-links > a:hover {
	color: var(--color5)
}
.footer-social {
	display: flex;
	flex-direction: row;
	gap: 2rem;
}
.footer-social img {
	height: 1.5rem;
}
.footer-social img:hover {
	filter: brightness(2000%)
}